/** @format */

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
}

@media (prefers-color-scheme: dark) {
	.vercelLogo {
		filter: invert(1);
	}

	.logo,
	.thirteen img {
		filter: invert(5) drop-shadow(0 0 3rem #9a01ff);
	}
}
